*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
}
#content{
	width:100%;
}
#header{
	width:100%;
	height:8.6rem;
}
.header_t{
	width:100%;
	height:2.8rem;
	background:#f7f7f8;
	line-height:2.8rem;
	text-align:center;
	font-size:1.1rem;
	border-bottom:1px solid #c8c8c8;
}
.header_c{
	width:100%;
	height:5.6rem;
	line-height:5.6rem;
	text-align:center;
	font-size:3rem;
	color:#F40;
	background:#f0f0f0;
	font-family:'微软雅黑';
}



/*登录部分*/
#main{
	width:100%;
	height:20rem;
	margin-top:-3px;
	background:#F0F0F0;
}
.login{
	width:100%;
	height:10rem;
}
.login .user_u{
	width:100%;
	height:6rem;
	background:#FFF;
}
.login .user_u .user_u1{
	width:90%;
	height:3rem;
	font-size:1.2rem;
	line-height:3rem;
	color:#BDBDBD;
	margin-left:1rem;
	border-bottom:1px solid #DDD;
}
.login .user_u .user_u1 input{
	margin-left:3rem;
	width:70%;
	height:2.4rem;
	border:none;
	outline:none;
}


.login .user_u .user_u2{
	width:90%;
	height:3rem;
	font-size:1.2rem;
	line-height:3rem;
	color:#BDBDBD;
	margin-left:1rem;
}
.login .user_u .user_u2 input{
	margin-left:0.6rem;
	width:60%;
	height:2.5rem;
	border:none;
	outline:none;
}
.login .sub{
	width:100%;
	height:2rem;
	text-align:center;
	margin-top:0.8rem;
}
.login .sub input{
	width:95%;
	height:3rem;
	background:#F40;
	border-radius:0.3rem;
	border:none;
	color:#DDD;
	font-size:1.3rem;
}


/*免费注册、忘记密码*/
.login_2{
	width:95%;
	height:2rem;
	line-height:2rem;
	text-align:center;
	margin-left:0.6rem;
	font-size:0.9rem;
}
.login_2 div a{
	color:#6c6c6c;
}
.register{
	float:left;
}
.forget{
	float:right;
}



/*短信验证*/
.sms{
	width:100%;
	text-align:center;
	margin-top:2rem;
}
.sms input{
	width:35%;
	height:2.5rem;
	border:1px solid red;
	background:#FFF;
	color:red;
	border-radius:5px;
	font-size:1rem;
}