<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="Swiper-3.4.1/dist/css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
    input[placeholder],
    [placeholder],
    *[placeholder] {
        color: #FFF;
        font-size: 1rem !important;
    }
    
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #FFF;
        opacity: 1;
    }
    
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #FFF;
        opacity: 1;
    }
    
    input:-ms-input-placeholder {
        color: #FFF;
        opacity: 1;
    }
    
    input::-webkit-input-placeholder {
        color: #FFF;
        opacity: 0.9;
    }
    </style>
</head>

<body>
    <div id="content">
        <!-- 头部内容 -->
        <div id="header">
            <!-- 搜索框部分 -->
            <div class="search">
                <div class="logo">
                    <img src="images/tao.png">
                </div>
                <div class="search_c">
                    <input type="text" name="" value="" placeholder="寻找宝贝店铺">
                </div>
            </div>
            <!-- 轮播图部分 -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="images/1.jpg"></div>
                    <div class="swiper-slide"><img src="images/2.jpg"></div>
                    <div class="swiper-slide"><img src="images/3.jpg"></div>
                    <div class="swiper-slide"><img src="images/4.jpg"></div>
                    <div class="swiper-slide"><img src="images/5.jpg"></div>
                    <div class="swiper-slide"><img src="images/6.jpg"></div>
                    <div class="swiper-slide"><img src="images/7.jpg"></div>
                    <div class="swiper-slide"><img src="images/8.jpg"></div>
                </div>
                <!-- 小点点 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- 主要内容 -->
        <div id="main">
            <!-- 菜单 -->
            <div class="menu">
                <div class="menu_1">
                    <div>
                        <img src="images/1.png">
                        <p>天猫</p>
                    </div>
                    <div>
                        <img src="images/2.png">
                        <p>聚划算</p>
                    </div>
                    <div>
                        <img src="images/3.png">
                        <p>天猫国际</p>
                    </div>
                    <div>
                        <img src="images/4.png">
                        <p>外卖</p>
                    </div>
                    <div>
                        <img src="images/5.png">
                        <p>天猫超市</p>
                    </div>
                </div>
                <div class="menu_2">
                    <div>
                        <img src="images/6.png">
                        <p>充值中心</p>
                    </div>
                    <div>
                        <img src="images/7.png">
                        <p>肥猪旅行</p>
                    </div>
                    <div>
                        <img src="images/8.png">
                        <p>领金币</p>
                    </div>
                    <div>
                        <img src="images/9.png">
                        <p>到家</p>
                    </div>
                    <div>
                        <img src="images/10.png">
                        <p>分类</p>
                    </div>
                </div>
            </div>
            <!-- 淘宝头条 -->
            <div class="headlines">
                <div class="headlines_l">
                    <img src="images/toutiao.png">
                </div>
                <div class="headlines_c">
                    <div class="headlines_c_1">最新</div>
                    <div class="headlines_c_2">动漫中的美女</div>
                </div>
            </div>
            <!-- 淘抢购,有好货 -->
            <div class="buying">
                <div class="buying_q">
                    <img src="images/9.jpg">
                </div>
                <div class="buying_h1">
                    <img src="images/10.jpg">
                    <img src="images/11.png">
                </div>
                <div class="buying_h2">
                    <img src="images/11.jpg">
                    <img src="images/12.png">
                </div>
            </div>
            <!-- 超实惠 -->
            <div class="Affordable">
                <div class="Affordable_t">
                    <img src="images/13.png">
                    <div>超实惠</div>
                </div>
                <div class="Affordable_a">
                    <div class="Affordable_a1">
                        <img src="images/12.jpg">
                    </div>
                    <div class="Affordable_a2">
                        <img src="images/14.png">
                    </div>
                    <div class="Affordable_a3">
                        <img src="images/15.png">
                    </div>
                    <div class="Affordable_a4">
                        <img src="images/13.jpg">
                    </div>
                </div>
                <div class="Affordable_b">
                    <div class="Affordable_b1">
                        <img src="images/16.png">
                    </div>
                    <div class="Affordable_b2">
                        <img src="images/14.jpg">
                    </div>
                    <div class="Affordable_b3">
                        <img src="images/15.jpg">
                    </div>
                    <div class="Affordable_b4">
                        <img src="images/17.png">
                    </div>
                </div>
            </div>
            <!-- 猜你喜欢 -->
            <div class="gyl">
                <div class="gyl_1">
                    <img src="/images/32.png">
                    <span>猜你喜欢</span>
                    <p>实时推荐最适合你的宝贝</p>
                </div>
            </div>
            <!-- 猜你喜欢下面的内容 -->
            <div class="gyl_x">
                <div class="test">
                    <img src="/images/33.png">
                    <p>特级什锦枣夹核桃</p>
                    <span>￥18.92</span>
                </div>
                <div class="test">
                    <img src="/images/34.png">
                    <p>3D立体墙贴</p>
                    <span>￥19.95</span>
                </div>
                <div class="test">
                    <img src="/images/35.png">
                    <p>韩国零食进口零食</p>
                    <span>￥10.80</span>
                </div>
                <div class="test">
                    <img src="/images/36.png">
                    <p>简易衣柜</p>
                    <span>￥90.00</span>
                </div>
            </div>
        </div>
        <div id="footer">
            <div>
                <a href="#"><img src="images/18.png"></a>
                <p>首页</p>
            </div>
            <div>
                <a href="users/list">
                    <img src="images/22.png">
                    <p>列表页</p>
                </a>
            </div>
            <div>
                <a href="users/cart">
                    <img src="images/19.png">
                    <p>购物车</p>
                </a>
            </div>
            <div>
                <a href="/login"><img src="images/20.png"></a>
                <p>我的淘宝</p>
            </div>
            <div>
                <img src="images/21.png">
                <p>更多</p>
            </div>
        </div>
    </div>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="Swiper-3.4.1/dist/js/swiper.jquery.min.js"></script>
    <script src="Swiper-3.4.1/dist/js/swiper.min.js"></script>
</body>
<script>
// 计算html标签字体大小
(function(doc, win) {
    var docEl = doc.documentElement, // 获取html对象
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize', // 横屏是否支持，不支持则为浏览器大小改变

        // 计算页面字体大小
        recalc = function() {
            // 获取页面宽度
            var clientWidth = docEl.clientWidth;
            // 获取不到页面宽度，直接返回
            if (!clientWidth) return;
            // 设置html字体大小(浏览器默认字体大小为16px)

            docEl.style.fontSize = clientWidth / 375 * 16 + "px";
        };
    // 不支持addEventListener,返回
    if (!doc.addEventListener) return;
    // 监听事件，获取当前html标签的字体大小
    win.addEventListener(resizeEvt, recalc, false);
    // dom内容加在完成事件
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);


var swiper = new Swiper('.swiper-container', {
    loop: true,
    pagination: '.swiper-pagination',
    autoplay: 1000,
    paginationClickable: true
});




$(function() {


    // 瀑布流

    $(window).scroll(function() {

        //获取文档高度
        var dHeight = $(document).height();

        //获取屏幕高度
        var wHeight = $(window).height();

        //获取滚动条高度
        var sHeight = $(document).scrollTop();


        if (dHeight - wHeight - sHeight == 0) {
            $.get('/json/1.json', function(data) {
                var str = '';
                for (var i = 0; i < data.length; i++) {
                    str += '<div class="test">';
                    str += '<img src="' + data[i]['img'] + '">';
                    str += '<p>' + data[i]['title'] + '</p>';
                    str += '<span>' + '￥' + data[i]['price'] + '</span>';
                    str += '</div>';
                }
                $('.gyl_x').append(str);
            })
        }
    })
})
</script>

</html>
